body{
    margin: 0;
    padding: 0;

}
nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    padding: 10px 90px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);

}

nav .logo{
    position: absolute;
    padding: 22px 20px;
    height: 80px;
    margin-right: 0%;
    left: 0%;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-family: Monotype Corsiva;
}

nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;

}
nav ul li a{
    line-height: 80px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    font-family: Harlow Solid Italic;

}
nav ul li a:hover{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
}
nav ul li a.active{
    background: #e2472f;
    color: #fff;
    border-radius: 6px;
}
section{
    width: 100%;
    height: 100vh;
    background: url('navImg.jpg');
    background-size: cover;
    background-position: center;
}