/* .bg{
    Center and scale the Image nicely
    background-color:brown;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/frontend/src/resources/nav.jpg);
} */